Markdown
markdown-it-py
MarkupSafe
matplotlib
numerize
numpy
oauthlib
openpyxl
opt-einsum
packaging
pandas
pandas-profiling
streamlit
streamlit-apexjs
streamlit-card
streamlit-elements
streamlit-option-menu
streamlit-pandas-profiling
plotly
plotly-express
scikit-learn
seaborn
pandas-profiling
streamlit_option_menu
numerize
